https://github.com/thiagopena/geraldo/archive/master.zip
https://github.com/thiagopena/PySIGNFe/archive/master.zip
Django>=3.2.*
dj-database-url==1.*
python-decouple==3.8
pytz>=2022.1
reportlab==3.6.*
six==1.11.*
cryptography>=2.3
lxml>=4.2.*
pyOpenSSL==22.1.0
signxml==3.0.0
tzdata>=2021.5
psycopg2-binary==2.9.3
requests==2.31.0
wheel==0.41.1
xhtml2pdf==0.2.11
django-tables2==2.*
django-tables2-column-shifter==2.*
django-filter==2.*
tablib
ofxparse
django_pdfkit
django-autocomplete-light
django-todo